.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.input {
  margin: 2rem 0;
}

.input-box {
  width: 50vw;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 200px; /* adjust width as needed */
  height: 200px; /* adjust height as needed */
  background-color: lightblue;
  text-align: center;
  line-height: 200px; /* same as height for vertical centering of text */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
