.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.input {
  margin: 2rem 0;
}

.input-box {
  width: 50vw;
  border: none;
  outline: none;
  height: 2rem;
  padding: 2px 20px;
  border-radius: 30px;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  border-radius: 25px;
  background-color: #F2F2F2;
  width: 600px; /* adjust width as needed */
  height: 400px; /* adjust height as needed */
  /* border: 1px solid black; */
  text-align: center;
  box-shadow:4px 4px 10px #c5c5c5;
}

.search-container {
  padding: 10px 10px;
  /* margin: 0; */
  cursor: pointer;
}

.modal-body {
  padding: 0;
}

.searchResponse:hover {
  background: lightgray;
}

.zoom-container {
  transition: transform 0.3 ease;
}

.zoom-container.zoomed {
  transform: scale(1.1);
}

.weather-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.second-row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.weather-icon {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
}

.weather-stat {
  font-size: 1.8rem;
}

.left-items-container {
  display: flex;
  flex-direction: column;
}

.left-items-container > div {
  font-size: 12px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
